
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.exp {
  position: absolute;
  min-width: 90%;
  min-height: 90%;
  left: 5%;
  top: 5%;
}

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: #222;
}

.fb {
  font-size: 200%;
  text-align: center;
}


.fix {
  font-size: 350%;
  text-align: center;
}

.cor {
  font-size: 350%;
  color: #009900;
}

.incor {
  font-size: 350%;
  color: #e00;
}

.stim {
  width: 25%;
  margin: 0 auto;
  border: solid 2px #222;
}

.disp {
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
  border: solid 2.5px #222;
}

.continue {
  font-size: 125%;
  margin: 0 auto;
  bottom: 5%;
  left: 25%;
  width: 50%;
  position: absolute;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

table {
  border-spacing: 0px;
  text-align: center;
  width: 75%;
}

td {
  vertical-align: middle;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}
